body{
    background-color:rgb(230,207,169);
    font-size: 25px;
    font-style: Times New Roman;

}
h1{
    color:rgb(154,63,63);
}
.myclass{
     font-size: 30px;
    color:rgb(154,63,63);
   
}
a.hover{
    color:red;
}
a:visited{
    color:blue;
}
img[src$=".jpeg"]{
   box-shadow:5px 5px 5px grey;
}
p::first-Letter{
    font-size:25 px;
    color:rgb(154,63,63);
}
a[href^="htpps"]{
    color:blue;
}
